body{
    margin:0;
    background-image: url(bicepssss.jpg);
}

/* Rundt bilde */
.robel{
border-radius: 50%;
}

/* Bytte farge på tekst */
.Goitom {
  color: white;
}
.navbar {
position: fixed;
top: 0;
left: 0;
right:0;
}
nav ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin-top: 0;
}

header{
    display: flex;
    justify-content: center;
}

section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    margin:20px
    
    /* Sliiiiiide  */
    .slidecontainer {
      width: 100%; /* Width of the outside container */
    }
    
    /* The slider itself */
    .slider {
      -webkit-appearance: none;  /* Override default CSS styles */
      appearance: none;
      width: 100%; /* Full-width */
      height: 25px; /* Specified height */
      background: #07aa04; /* Green background */
      outline: none; /* Remove outline */
      opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
      -webkit-transition: .2s; /* 0.2 seconds transition on hover */
      transition: opacity .2s;
    }
    
    /* Mouse-over effects */
    .slider:hover {
      opacity: 1; /* Fully shown on mouse-over */
    }
    
    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: #07aa04; /* Green background */
      cursor: pointer; /* Cursor on hover */
    }
    
    .slider::-moz-range-thumb {
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: #032400; /* Green background */
      cursor: pointer; /* Cursor on hover */
    }

}

/* Style the nav */
#nav {
    overflow: hidden;
    background-color: #032400;
  }
  
  /* Navbar links */
  #nav a {
    float: static;
    display: block;
    color: #ff0000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }



